<!-- Convertir este componente en un formulario de registro : 
        1 - construir formulario
        2 - un boton para invocar un metodo del componente 
        3 - preparamos dato q vamos a enviar (= usuario, {})
        3 - el metodo al hacer tiene q avisar al Servicio cliente REST mediante POST
        4 - recoger datos de usuario + mostrarlos (en especial el ID recibido) 
-->>

<!-- Simple-Data-Binding
{{ variable + " - " + usuario.nombre }}

Double-Data-Binding 
<input type="text" [(ngModel)]="variable" value="Nombre por defecto"/>

Event-Binding 
<input type="button" value="Boton" (click)  = "pulsar()" />

-->

<input type="text" [(ngModel)]="usuario.nombre" value="Nombre por defecto"/>
<input type="email" [(ngModel)]="usuario.email" value="correo@correo.es"/>
<input type="password" [(ngModel)]="usuario.password" value="1234"/>
<br> {{ "Enviar " + usuario.nombre + " - " + usuario.password }}
<input type="button" value="Boton" (click)  = "enviarDatos()" />

<div *ngIf="!estaRegistrado"> Aun no se ha registrado </div>
<div *ngIf="estaRegistrado"> Se ha registrado: ID: {{ usuario.id }} </div>
